# voorbeeld repo uitsluiten
urenPy/
dashScripts/

# ipynb dingen uitsluiten

__pycache__/

# tests uitsluiten
test*


# databases uitsluiten
*.db

# config files uitsluiten

*.conf
settings.json

# excels uitsluiten
*.xlsx
*.xls 
*.xlsm


# logo uitsluiten
assets/logo.png